@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Pretendard';
        font-style: 'normal';
        font-weight: 400;
        font-display: swap;
        src: local('Pretendard Regular'), url(../assets/fonts/Pretendard-Regular.woff2) format('woff2');
    }

    body {
        @apply bg-white;
        height: 100%;
        @apply bg-neutral-50;
    }

    html {
        @apply font-pretendard;
        height: 100%;
    }

    p {
        @apply text-lg;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: disc;
    }
}